*{
    padding:0;
    margin:0;
}

body{
    font-family: 'Noto Sans', sans-serif;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}

input[type="submit"],
input[type="reset"]{
  border: 0;
  color: #ffffff;
  /* cursor: default; */
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
  -webkit-user-select: none; /* for button */
   -webkit-appearance: button; /* for input */
     -moz-user-select: none;
      -ms-user-select: none;
      cursor: pointer;
}

input[type="submit"],
input[type="reset"],
input[type="button"],
button:focus{
    outline: none;
    border:none;
}



select {
    background: #e7e7ea;
    border: none;
    font-size: 14px;
    height: 30px;
    padding: 5px;
    
 }
 select:focus{ outline: none;}

/*estilos header*/

.brand{
    width:100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-direction:column;
    height:auto;
    background: #0a0a29;
    min-width: 320px;
    padding: 0px;
    padding-bottom: 10px;
}


.logo{
     width: 80%;
    display:block;
}

.logo img {
    width: 280px;
    /* min-width: 108px; */
    margin: 20px auto;
    display: block;
}

.data{
    width: 60%;
    margin-top:40px;
    margin-left: 40px;
}

.data select{
    height:40px;
    width: 100%;
    border-radius:10px;
    margin-bottom: 10px;
}



.registro{
    margin-top: 40px;
    display:none;
}
.iniciar{
    background:none;
    font-size: 0.8rem!important;
    color: white;
}

.icon-user:before {
    content: "\e971";
    color:#ffffff;
  }
.header-bar{
    width:100%;
    background:#5a5a5a;
    color:#ffffff;
}
/*fondos botones*/
.blue{
    color:#ffffff;
    
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#0081ba+0,01c1b0+100 */
background: #0081ba; /* Old browsers */
background: -moz-linear-gradient(left,  #0081ba 0%, #01c1b0 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  #0081ba 0%,#01c1b0 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  #0081ba 0%,#01c1b0 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0081ba', endColorstr='#01c1b0',GradientType=1 ); /* IE6-9 */

}

.blue:hover{
    color:#ffffff;
   /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#01c1b0+11,0081ba+100 */
background: #01c1b0; /* Old browsers */
background: -moz-linear-gradient(left,  #01c1b0 11%, #0081ba 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  #01c1b0 11%,#0081ba 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  #01c1b0 11%,#0081ba 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#01c1b0', endColorstr='#0081ba',GradientType=1 ); /* IE6-9 */


}
/*estilos menu*/

.header-bar{
    width:100%;
    display:flex;
}


.anchoBtn{
    width:100%;
    height: 40px;
    border-radius: 10px;
}

/* End estilos header*/
@media screen and (min-width: 900px) {
    .anchoBtn{
        width:18%;
        height: 40px;
        border-radius: 10px;
    }

    .brand{
        flex-direction:row;
    }

    .data select{
        width: 18%;
    }
    
    .brand{

        height:100px;
    }
    .registro{
        width:20%;
        display:block;
        margin-top: 40px;
        text-align: center;
    }
    .logo img{
        width:80%;
        min-width:108px;
        margin: 20px 20px 20px 50px;
    
    }
    
.logo{
    width: 20%;
}

.logo img{
    width: 220px;
    min-width:108px;
    margin: 10px;

}

.icon-menu:before {
    content: "\e9bd";
    color:#ffffff;
}

}